absl-py
asttokens
attrs
av
cffi
comm
contourpy
cuda-bindings
cuda-pathfinder
cuda-toolkit
cycler
debugpy
decorator
executing
fastapi
filelock
flatbuffers
fonttools
fsspec
ipykernel
ipython
ipython_pygments_lexers
jax
jaxlib
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
ml_dtypes
mpmath
nest-asyncio
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
#nvidia-cudnn-cu
#nvidia-cufft
#nvidia-cufile
#nvidia-curand0
#nvidia-cusolver
#nvidia-cusparse
#nvidia-cusparselt-cu
#nvidia-nccl-cu
#nvidia-nvjitlink
#nvidia-nvshmem-cu
#nvidia-nvtx
opencv-contrib-python
opt_einsum
packaging
pandas
parso
pexpect
pillow
platformdirs
pose_format
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
pygments
pyparsing
python-dateutil
pytorch-metric-learning
PyYAML
pyzmq
scikit-learn
scipy
seaborn
setuptools
simple-video-utils
six
sounddevice
stack-data
sympy
threadpoolctl
torch
torchvision
tornado
tqdm
traitlets
#triton
typing_extensions
uvicorn
wcwidth